.body{
    text-align: center;
}

.heading{
    background-color: #AA1A00;
}

.term_card{
    margin: 30px;
    
}
.div_card{
    margin-left: 540px;
    font-style: italic;
}

.dec{
    margin-left: 20px;
}

.inc{
    margin-left: 40px;
}
.dec_hr{
    margin-left: 450px;
}
.inc_hr{
    margin-left: 20px;
}